.About_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    /* border: 1px solid rgba(0, 0, 0, 0.13); */
    /* margin-top: 10rem; */
    padding-top: 10rem !important;
    padding: 6rem 8vw;

    /* display: none; */
    background-color: white;
}

.About_container .image_container {
    /* border: 1px solid purple; */
    width: 40%;
    display: flex;
    justify-content: center;
}
.About_container .image_border {
   /* border: 1px solid rgba(255, 68, 0, 0.534); */
   width: 80%;
   height: 80%;
   height: 26rem;

   /* margin-top: 1.5rem; */
   border-radius: 20rem;
   border-top-right-radius: 0;
   padding: 1rem;
   box-shadow: 0 0 1rem rgba(255, 68, 0, 0.308);
   /* box-shadow: 0 0 4rem rgba(255, 68, 0, 0.185); */
   border: 1px solid rgba(255, 0, 0, 0.158);
   min-width: 18rem;

}

.About_container img {
    width: 100%;
    min-width: 18rem;
    height: 26rem;
    object-fit: cover;
    /* transform: translate(1.5rem, -1.5rem); */
    /* border: 1px solid rgb(211, 211, 211); */
    background-color: white;
    border-radius: 20rem;
    border-top-right-radius: 0;
    background-color: rgba(255, 68, 0, 0.089);
   /* border: 1px solid rgba(255, 0, 0, 0.110); */
    

}

.about_info_container {
    /* border: 1px solid gray; */
    width: 50%;
}

.about_info_container h2 {
    font-size: 2.3rem;
    margin: 0;
}

.about_info_container .web_dev {
    font-size: 1.2rem;
    margin: .6rem 0;
    font-weight: bold;
    color: orangered;
}

.about_info_container .desc {
   color: rgba(0, 0, 0, 0.781);
   font-size: 1.25rem;
   line-height: 1.82rem;
   width: 100%;
}

.social_media_link {
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.social_media_link i {
    font-size: 1.4rem !important;
    color: orangered;
}

.about_info_container .about_button_section {
    display: flex;
    justify-content: center;
    gap: 2rem;
    /* border: 1px solid red; */
    padding: 2rem 0;
    
}

.about_info_container .about_button_section button {
    width: 10rem;
    padding: .5rem 0;
    border: 1px solid orangered;
    color: orangered;
    border-radius: .3rem;
    border-radius: 10rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
}

.about_info_container .about_button_section .download_cv {
    background-color: rgba(255, 68, 0, 0.118);
    /* color: rgba(0, 0, 0, 0.849); */
    /* border-color: gray; */
    font-weight: 500;
}

@media(max-width: 1000px) {
    .About_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image_container {
        justify-content: center;
        align-items: center;
        width: 100% !important;
        /* border: 1px solid red; */
    }


    .About_container .image_border {
        width: 9rem;
     }

     .about_info_container {
        width: 100%;
        /* border: 1px solid red; */
     }
     
}

@media(max-width: 501px) {
    .About_container {
        padding: 1rem;
        padding-top: 10rem !important;
    }


    .about_info_container .about_button_section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .8rem;
    }


    .About_container .image_border {
        min-width: 8rem;
        width: 60vw;
     
     }
     
     .About_container img {
         min-width: 8rem;

     }

     .about_info_container h2 {
        font-size: 1.5rem;
     }
}

@media(max-width: 300px) {
    .about_info_container .about_button_section {
        flex-direction: column;
        
    }
}